discord.py==2.7.1  # do NOT downgrade to 2.6.x (voice connect breaks, pre-DAVE); voice receive needs the voice-recv fork below
discord-ext-voice-recv @ git+https://github.com/porgeeratad/discord-ext-voice-recv@dave-decrypt  # PR 58: decrypts DAVE E2EE voice frames, required for $mock on discord.py 2.7
aiohttp
PyYAML
requests
validators
lxml
qrcode
better-profanity
beautifulsoup4
geopy
PyNaCl
davey
cogwatch
discord-webhook
pymongo
yt-dlp